<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
  <title><%=title%></title>
  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/semantic.min.js"></script>
  <script src="js/socket.io.js"></script>
  <link type="text/css" rel="stylesheet" href="css/semantic.min.css" />


  <style media="screen">
  .talk {
    position: relative;
    padding: 15px;
    margin: 1em 0 1em;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: auto; }

    .talk.other {
      margin-left: 30px;
      border: 5px solid #B0BEC5;
      background: #B0BEC5; }

      .talk.me {
        margin-right: 30px;
        margin-bottom : 10px;
        border: 5px solid #ffec42;
        background-color: #ffec42; }

        .talk:before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 40px;
          border-width: 20px 20px 0;
          border-style: solid;
          border-color: #5a8f00 transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0; }

          /* creates the smaller  triangle */
          .talk:after {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 47px;
            border-width: 13px 13px 0;
            border-style: solid;
            border-color: #fff transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0; }

            /* creates the larger triangle */
            .talk.other:before {
              top: 10px;
              bottom: auto;
              left: -30px;
              border-width: 15px 30px 15px 0;
              border-color: transparent #B0BEC5; }

              /* creates the smaller  triangle */
              .talk.other:after {
                top: 16px;
                bottom: auto;
                left: -21px;
                border-width: 9px 21px 9px 0;
                border-color: transparent #B0BEC5; }

                .talk.me:before {
                  top: 10px;
                  /* controls vertical position */
                  bottom: auto;
                  left: auto;
                  right: -30px;
                  /* value = - border-left-width - border-right-width */
                  border-width: 15px 0 15px 30px;
                  border-color: transparent #ffec42; }

                  .talk.me:after {
                    top: 16px;
                    bottom: auto;
                    left: auto;
                    right: -21px;
                    border-width: 9px 0 9px 21px;
                    border-color: transparent #ffec42; }

                    .msg {
                      display: inline-block;
                      height: 46px;
                      width: 600px;
                      padding: 6px 12px;
                      font-size: 14px;
                      line-height: 1.42857;
                      color: #555555;
                      background-color: #fff;
                      background-image: none;
                      border: 0px solid #ccc;
                      border-top-left-radius: 4px;
                      border-bottom-left-radius: 4px; }

                      .send {
                        background-color: #ffec42;
                        display: inline-block;
                        margin-bottom: 0;
                        font-weight: normal;
                        text-align: center;
                        vertical-align: middle;
                        border: 0px solid transparent;
                        height: 46px;
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.42857;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px; }

                        .msgbox {
                          width: auto;
                          height: 600px;
                          overflow-y: scroll;
                          overflow-x: hidden;
                        }

                        #input {
                          vertical-align: middle;
                          resize: none;
                        }

                        </style>

                        <script>
                        var text_color = "black";

                        $(function(){
                          var MBox = document.getElementById("messages");
                          var socket = io.connect();
                          socket.on('my message', function (msg) {
                            if(msg.content != "")
                            {
                              var htmlMsg = msg.content.replace(/(?:\r\n|\r|\n)/g, '<br />');
                              $('#messages').append($('<p class="talk me" style="color:' + msg.color + ';">').html(htmlMsg));
                              MBox.scrollTop = MBox.scrollHeight;
                            }
                          });
                          socket.on('other message', function (msg) {
                            var htmlMsg = msg.content.replace(/(?:\r\n|\r|\n)/g, '<br />');
                            $('#messages').append('<div class="ui feed"><div class="event"><div class="label"><img style="width:150%; padding-top:10px;" src="/img/no_img.gif"></div><div class="content"><p class="talk other" style="color:' + msg.color + ';">'+ htmlMsg);
                            //$('#messages.ui.event.content').append($('<p class="talk other">').html(htmlMsg));
                            MBox.scrollTop = MBox.scrollHeight;
                          });

                          $("#input").keyup(function(key){
                            if(key.keyCode==13){
                              if(key.ctrlKey){
                                var textVal = $("#input").val();
                                textVal = textVal + "\n";
                                $("#input").val(textVal);
                              }
                              else {
                                var data_json = {"content" : $("#input").val(), "color" : text_color};
                                socket.emit('message', data_json);
                                $("#input").val("");
                              }
                            }
                          });
                          $("#btn").on('click', function(){
                            var data_json = {"content" : $("#input").val(), "color" : text_color};
                            socket.emit('message', data_json);
                            $("#input").val("");
                          });
                        })

                        </script>

                      </head>
                      <body>
                        <div class="background" >
                          <div class ="msgbox" id="messages">
                          </div>
                          <textarea id="input" class="msg" type="text" style="color:black;"></textarea>
                          <button id="btn" class="send" type="button">전송</button>
                        </div>

                        <!-- 쓰기 효과!!! -->
                        <div id="writeColor" class="ui floating labeled icon dropdown button">
                          <i class="filter icon"></i>
                          <span class="text">검정</span>
                          <div class="menu">
                            <div class="item active selected" data-value="black">
                              검정
                            </div>
                            <div class="item" style="color:red;" data-value="red">
                              빨강
                            </div>
                            <div class="item" style="color:blue;" data-value="blue">
                              파랑
                            </div>
                          </div>
                        </div>
                        <div id="writeEvent" class="ui floating labeled icon dropdown button">
                          <i class="filter icon"></i>
                          <span class="text">효과 없음</span>
                          <div class="menu">
                            <div class="item active selected" data-value="1">
                              효과 없음
                            </div>
                            <div class="item" data-value="2">
                              지진
                            </div>
                            <div class="item" data-value="3">
                              벌렁벌렁
                            </div>
                          </div>
                        </div>
                      </body>

                      <script>
                      $('.ui.dropdown').dropdown();

                      $('#writeColor.ui.dropdown').dropdown({
                        onChange: function(value){

                          switch (value) {
                            case "black": //블랙
                              $('#input.msg').css("color", "black");
                              text_color = "black";
                            break;
                            case "red": //레드
                              $('#input.msg').css("color", "red");
                              text_color = "red";
                            break;
                            case "blue": //블루
                              $('#input.msg').css("color", "blue");
                              text_color = "blue";
                            break;
                            default:

                          }
                        }
                      });
                      </script>
                      </html>
