<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
  <title><%=title%></title>
  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/semantic.min.js"></script>
  <script src="js/socket.io.js"></script>
  <link type="text/css" rel="stylesheet" href="css/semantic.min.css" />


  <style media="screen">
  .ui.feed{
    margin : 0 0 !important;
  }

  .talk {
    position: relative;
    padding: 15px;
    margin: 10px 0 10px;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: auto; }

    .talk.other {
      margin-left: 30px;
      border: 5px solid #B0BEC5;
      background: #B0BEC5; }

      .talk.me {
        margin-right: 30px;
        margin-bottom: 5px;
        border: 5px solid #ffec42;
        background-color: #ffec42;
      }

        .talk:before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 40px;
          border-width: 20px 20px 0;
          border-style: solid;
          border-color: #5a8f00 transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0; }

          /* creates the smaller  triangle */
          .talk:after {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 47px;
            border-width: 13px 13px 0;
            border-style: solid;
            border-color: #fff transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0; }

            /* creates the larger triangle */
            .talk.other:before {
              top: 10px;
              bottom: auto;
              left: -30px;
              border-width: 15px 30px 15px 0;
              border-color: transparent #B0BEC5; }

              /* creates the smaller  triangle */
              .talk.other:after {
                top: 16px;
                bottom: auto;
                left: -21px;
                border-width: 9px 21px 9px 0;
                border-color: transparent #B0BEC5; }

                .talk.me:before {
                  top: 10px;
                  /* controls vertical position */
                  bottom: auto;
                  left: auto;
                  right: -30px;
                  /* value = - border-left-width - border-right-width */
                  border-width: 15px 0 15px 30px;
                  border-color: transparent #ffec42; }

                  .talk.me:after {
                    top: 16px;
                    bottom: auto;
                    left: auto;
                    right: -21px;
                    border-width: 9px 0 9px 21px;
                    border-color: transparent #ffec42; }

                    .msg {
                      display: inline-block;
                      height: 46px;
                      width: 600px;
                      padding: 6px 12px;
                      font-size: 14px;
                      line-height: 1.42857;
                      color: #555555;
                      background-color: #fff;
                      background-image: none;
                      border: 0px solid #ccc;
                      border-top-left-radius: 4px;
                      border-bottom-left-radius: 4px;

                    }

                    .send {
                      background-color: #ffec42;
                      display: inline-block;
                      margin-bottom: 0;
                      font-weight: normal;
                      text-align: center;
                      vertical-align: middle;
                      border: 0px solid transparent;
                      height: 46px;
                      padding: 6px 12px;
                      font-size: 14px;
                      line-height: 1.42857;
                      border-top-right-radius: 4px;
                      border-bottom-right-radius: 4px; }

                      .msgbox {
                        width: auto;
                        height: 600px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                      }

                      #input {
                        vertical-align: middle;
                        resize: none;
                      }

                      </style>

                      <script>
                      var text_color = "black";
                      var text_size = "15px";
                      var text_event = "event_1";

                      $(function(){
                        var MBox = document.getElementById("messages");
                        var socket = io.connect();
                        socket.on('my message', function (msg) {
                          if(msg.content != "")
                          {
                            var htmlMsg = msg.content.replace(/(?:\r\n|\r|\n)/g, '<br />');
                            $('#messages').append($('<p class="talk me ' + msg.event + '" style="color:' + msg.color + '; font-size:' + msg.size + ';">').html(htmlMsg));
                            MBox.scrollTop = MBox.scrollHeight;
                          }

                          //마지막 글에 효과가 걸려있으면 실행!
                          if($('.talk').last().hasClass("event_1") != true){

                            if($('.talk').last().hasClass("event_2")){  //지진
                              $('.talk').last().transition("shake");
                            }else if($('.talk').last().hasClass("event_3")){  //벌렁벌렁
                              $('.talk').last().transition('pulse');
                              $('.talk').last().transition('pulse');
                            }else if($('.talk').last().hasClass("event_4")){  //찌글찌글
                              $('.talk').last().transition('jiggle');
                            }else if($('.talk').last().hasClass("event_5")){  //반짝반짝
                              $('.talk').last().transition('flash');
                            }else if($('.talk').last().hasClass("event_6")){  //흔들흔들
                              $('.talk').last().transition('tada');
                            }else if($('.talk').last().hasClass("event_7")){  //바운스
                              $('.talk').last().transition('bounce');
                            }
                          }
                        });
                        socket.on('other message', function (msg) {
                          if(msg.content != "")
                          {
                            var htmlMsg = msg.content.replace(/(?:\r\n|\r|\n)/g, '<br />');
                            $('#messages').append('<div class="ui feed"><div class="event"><div class="label"><img style="width:150%; margin-top: 12px;" src="/img/no_img.gif"></div><div class="content"><p class="talk other ' + msg.event + '" style="color:' + msg.color + '; font-size:' + msg.size + ';">'+ htmlMsg);
                            MBox.scrollTop = MBox.scrollHeight;
                          }
                        });

                        $("#input").keyup(function(key){
                          var textVal = $("#input").val();
                          if(key.keyCode==13){
                            if(key.ctrlKey){
                              textVal = textVal + "\n";
                              $("#input").val(textVal);
                            }
                            else {  //엔터키 눌렀을 때
                              if(textVal.length > 1)
                              {
                                console.log("오규");
                                var data_json = {"content" : textVal, "color" : text_color, "size" : text_size, "event" : text_event};
                                socket.emit('message', data_json);
                                $("#input").val("");
                              }
                              else{
                                $("#input").val("");
                              }
                            }
                          }
                        });
                        //전송 버튼 클릭했을 때
                        $("#btn").on('click', function(){
                          var textVal = $("#input").val();
                          if(textVal != "")
                          {
                            var data_json = {"content" : textVal, "color" : text_color, "size" : text_size, "event" : text_event};
                            socket.emit('message', data_json);
                            $("#input").val("");
                          }
                        });
                      })

                      </script>

                    </head>
                    <body>
                      <div class="background" >
                        <div class ="msgbox" id="messages">
                        </div>
                        <textarea id="input" class="msg" type="text" wrap="physical" style="color:black;"></textarea>
                        <button id="btn" class="send" type="button">전송</button>
                      </div>

                      <!-- 쓰기 효과!!! -->
                      <div id="writeColor" class="ui floating labeled icon dropdown button" style="margin-top: 5px;">
                        <i class="filter icon"></i>
                        <span class="text">검정</span>
                        <div class="menu">
                          <div class="item active selected" data-value="black">
                            검정
                          </div>
                          <div class="item" style="color:red;" data-value="red">
                            빨강
                          </div>
                          <div class="item" style="color:blue;" data-value="blue">
                            파랑
                          </div>
                        </div>
                      </div>
                      <div id="writeSize" class="ui floating labeled icon dropdown button" style="margin-top: 5px;">
                        <i class="filter icon"></i>
                        <span class="text">15px</span>
                        <div class="menu">
                          <div class="item active selected" data-value="15px">
                            15px
                          </div>
                          <div class="item" style="font-size:15px;" data-value="25px">
                            25px
                          </div>
                          <div class="item" style="font-size:20px;" data-value="40px">
                            40px
                          </div>
                        </div>
                      </div>
                      <div id="writeEvent" class="ui floating labeled icon dropdown button" style="margin-top: 5px;">
                        <i class="filter icon"></i>
                        <span class="text">효과 없음</span>
                        <div class="menu">
                          <div class="item active selected" data-value="event_1">
                            효과 없음
                          </div>
                          <div class="item" data-value="event_2">
                            지진
                          </div>
                          <div class="item" data-value="event_3">
                            벌렁벌렁
                          </div>
                          <div class="item" data-value="event_4">
                            찌글찌글
                          </div>
                          <div class="item" data-value="event_5">
                            반짝반짝
                          </div>
                          <div class="item" data-value="event_6">
                            흔들흔들
                          </div>
                          <div class="item" data-value="event_7">
                            바운스
                          </div>
                        </div>
                      </div>
                    </body>

                    <script>
                    $('.ui.dropdown').dropdown();

                    $('#writeColor.ui.dropdown').dropdown({
                      onChange: function(value){

                        switch (value) {
                          case "black": //블랙
                          $('#input.msg').css("color", "black");
                          text_color = "black";
                          break;
                          case "red": //레드
                          $('#input.msg').css("color", "red");
                          text_color = "red";
                          break;
                          case "blue": //블루
                          $('#input.msg').css("color", "blue");
                          text_color = "blue";
                          break;
                          default:

                        }
                      }
                    });
                    $('#writeSize.ui.dropdown').dropdown({
                      onChange: function(value){

                        switch (value) {
                          case "15px": //10
                          $('#input.msg').css("font-size", "15px");
                          text_size = "15px";
                          break;
                          case "25px": //15
                          $('#input.msg').css("font-size", "25px");
                          text_size = "25px";
                          break;
                          case "40px": //20px
                          $('#input.msg').css("font-size", "40px");
                          text_size = "40px";
                          break;
                          default:

                        }
                      }
                    });
                    $('#writeEvent.ui.dropdown').dropdown({
                      onChange: function(value){

                        switch (value) {
                          case "event_1": //event_1
                          text_event = "event_1";
                          break;
                          case "event_2": //지진
                          text_event = "event_2";
                          break;
                          case "event_3": //벌렁벌렁
                          text_event = "event_3";
                          break;
                          case "event_4": //찌글찌글
                          text_event = "event_4";
                          break;
                          case "event_5": //반짝반짝
                          text_event = "event_5";
                          break;
                          case "event_6": //흔들흔들
                          text_event = "event_6";
                          break;
                          case "event_7": //바운스
                          text_event = "event_7";
                          break;
                          default:

                        }
                      }
                    });
                    </script>
                    </html>
