<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


  <form action="/test" role="form" method="GET">
      <input type="text" name="text" placeholder="실험이야">
  </form>
  </body>
</html>
