#header{
  background-color: #1A237E;
  height: 50px;
  color: white;
}

#header h2{
  line-height: 50px;
  margin:0;
  text-align: center;
}

.drawer-toggle {
  margin-left: 20px;
  line-height: 50px;
  float: left;
}

.developer{
  line-height: 200px;
   text-align: center;
}
